<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>faces</key>
	<array>
		<string>:|</string>
		<string>\o\</string>
		<string>/o/</string>
		<string>;)</string>
		<string>\o/</string>
		<string>:(</string>
		<string>:)</string>
	</array>
	<key>menuItens</key>
	<array>
		<string>Habilitar e desabilitar Acessibilidade</string>
		<string>Verificar quando esta Focado</string>
		<string>Alterar foco para outro item</string>
		<string>Alterar ordem do foco</string>
		<string>Verificar toque duplo e sugestão</string>
		<string>TableView Acessibilidade</string>
	</array>
</dict>
</plist>
